header
{
	color: white;
	margin: 0;
}

body
{
	background: #222;
	margin: 0;
}

header h1, h2
{
	display: inline;

	margin: 0;
	color: white;
}

nav ul
{
	display: inline;

	margin: 0;
	padding: 0 0 0 20px;
}

nav ul li
{
	display: inline-block;
	list-style: none;
	padding: 0px 15px 0px 0px;
}

nav ul li a
{
	color: white;
}

p
{
	font-family: 'Quicksand', sans-serif;
	color:white;
	padding: 10px;
}

html, body
{
	margin:0;
	padding:0;
	height: 100%;
	width: 100%; 
}

.presentation
{
	font-family: Amatic SC;
	font-size: 30px;
	margin: 0%, 0, 5%, 0;
}

.addborder
{
	border: 1px solid white;
	border-radius: 5px;
}

.top-space 
{
   display: block;
   margin: 1% 0 0 0;
}

.row-secondary
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: -12px;
}

.col
{
	background: #666;
	color: white;
	float: left;

	border-radius: 5px;
	padding: 10px .5%;
	margin: .5%;
	width: 31%;
}

.darkBG
{
	background: #111;
}

.lightBG
{
	background: #999;
}

.secondary
{
	background: none;
	color: #999;
}

.description
{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	background: none;
	color: #999;
	clear: both;
}

.text-columns {
	column-count: 2;
	column-gap: 3rem;
}

.text-columns p {
	break-inside: avoid;
	margin-bottom: 1rem;
	text-align: justify;
}

.text-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.text-grid p {
	text-align: justify;
	padding: 0.25rem;
	margin-bottom: 0.75rem; 
}

.d-md-none p {
    padding: 0.25rem;
    margin-bottom: 0.75rem;
}

.custom-navbar-space
{
	font-stretch: 60px;
	color: white;
	margin:0% 55% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.custom-navbar-space-md
{
	font-stretch: 60px;
	color: white;
	margin:0% 50% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.activeLink
{
	color: #440;
}

.custom-rowbg-section
{
	background: #625;
	color: white;
	float: center;
	border-radius: 5px;
	padding: 5% .5%;
	margin: 0, 5%, 0, 5%;
}

.slide-1
{
	background: #999;
	color: white;
	float: center;
	border-radius: 5px;
	padding: 5% .5%;
	margin: 0, 5%, 10%, 5%;
}
.slide-2
{
	background: #666;
	color: white;
	float: center;
	border-radius: 5px;
	padding: 5% .5%;
	margin: 0, 5%, 10%, 5%;
}

.slide-3
{
	background: #111;
	color: white;
	float: center;
	border-radius: 5px;
	padding: 5% .5%;
	margin: 0, 5%, 10%, 5%;
}

.jumbotron-secondary
{
	padding: .5rem 1rem;
	margin-bottom: .5rem;
	background-color: none;
	border-radius: .3rem;		
}

.container-secondary
{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0%
}

.shadow {
  box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.2), 0px 8px 10px 0px rgba(0, 0, 0, 0.14), 0px 2px 20px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 22px 30px -7px rgba(0, 0, 0, 0.2), 0px 48px 76px 3px rgba(0, 0, 0, 0.14), 0px 18px 92px 16px rgba(0, 0, 0, 0.12);
  }
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  background: #111;
  border-radius: 0.3rem;
  height: 10rem;
  width: 10rem;
}

.form-error
{
	color:red
}

footer
{
	clear: both;
	display: inline-block;
}